// webkit apperence
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form-focus-none {
  &.form-control {
    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
  &.form-select {
    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
}

/* Hide the actual file input */
#fileInput {
  display: none;
}
