<!-- Favicon icon-->
<link rel="apple-touch-icon" sizes="180x180" href="@@webRoot/assets/images/favicon/apple-touch-icon.png" />
<link rel="icon" type="image/png" sizes="32x32" href="@@webRoot/assets/images/favicon/favicon-32x32.png" />
<link rel="icon" type="image/png" sizes="16x16" href="@@webRoot/assets/images/favicon/favicon-16x16.png" />
<link rel="manifest" href="@@webRoot/assets/images/favicon/site.webmanifest" />
<link rel="shortcut icon" href="@@webRoot/assets/images/favicon/favicon.ico" />



<!-- Libs CSS -->
<link rel="stylesheet" href="@@webRoot/node_modules/bootstrap-icons/font/bootstrap-icons.min.css" />
<link rel="stylesheet" href="@@webRoot/node_modules/swiper/swiper-bundle.min.css" />
<link href="@@webRoot/node_modules/simplebar/dist/simplebar.min.css" rel="stylesheet" />
<!-- Theme CSS -->
<!-- build:css @@webRoot/assets/css/theme.min.css -->
<link rel="stylesheet" href="@@webRoot/assets/css/theme.css" />
<!-- endbuild -->