<!-- Navbar -->
<div class="mb-4 text-center text-md-start">
    <div class="d-lg-flex align-items-center gap-3 border p-3 ">
        <img src="@@webRoot/assets/images/avatar/avatar-1.jpg" alt="" class="avatar avatar-lg rounded-circle">
        <div class="mt-2 mt-lg-0 overflow-hidden">
            <h3 class="mb-0 fs-5">Susan Gardner</h3>
            <p class="mb-0 small text-truncate">exampleprofile@gmail.com</p>
        </div>
    </div>
</div>
<div class="d-md-none text-center d-grid">
    <button class="btn btn-light mb-3 d-flex align-items-center justify-content-between" type="button"
        data-bs-toggle="collapse" data-bs-target="#collapseAccountMenu" aria-expanded="false"
        aria-controls="collapseAccountMenu">
        Account Menu
        <i class="bi bi-chevron-down ms-2"></i>
    </button>
</div>
<div class="collapse d-md-block" id="collapseAccountMenu">
    <div class="mb-3">
        <h3 class="fs-5">My Account</h3>
    </div>
    <ul class="nav flex-column nav-account">
        <li class="nav-item">
            <a class="nav-link " href="@@webRoot/account-order.html">
                <span class="d-flex justify-content-between align-items-center">
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="feather feather-shopping-bag">
                            <path d="M6 2L3 6v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V6l-3-4z"></path>
                            <line x1="3" y1="6" x2="21" y2="6"></line>
                            <path d="M16 10a4 4 0 0 1-8 0"></path>
                        </svg>
                        <span class="ms-1">Order</span>
                    </span>
                    <span class="">

                        <span class="badge bg-danger rounded-pill">
                            1
                        </span>
                    </span>
                </span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@@webRoot/account-wishlist.html">

                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="feather feather-heart">
                    <path
                        d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z">
                    </path>
                </svg>
                <span class="ms-1">Wishlist</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" aria-current="page" href="@@webRoot/account-payment.html">

                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="feather feather-credit-card">
                    <rect x="1" y="4" width="22" height="16" rx="2" ry="2"></rect>
                    <line x1="1" y1="10" x2="23" y2="10"></line>
                </svg>
                <span class="ms-1">Payment Method</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" aria-current="page" href="@@webRoot/account-reviews.html">


                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="feather feather-star">
                    <polygon
                        points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2">
                    </polygon>
                </svg>
                <span class="ms-1">Reviews</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" aria-current="page" href="@@webRoot/account-personal-info.html">


                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="feather feather-user">
                    <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                    <circle cx="12" cy="7" r="4"></circle>
                </svg>
                <span class="ms-1">Personal Info</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" aria-current="page" href="@@webRoot/account-address.html">


                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="feather feather-map-pin">
                    <path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z"></path>
                    <circle cx="12" cy="10" r="3"></circle>
                </svg>
                <span class="ms-1">Address</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" aria-current="page" href="@@webRoot/account-notification.html">



                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="feather feather-bell">
                    <path d="M18 8A6 6 0 0 0 6 8c0 7-3 9-3 9h18s-3-2-3-9"></path>
                    <path d="M13.73 21a2 2 0 0 1-3.46 0"></path>
                </svg>
                <span class="ms-1">Notification</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" aria-current="page" href="@@webRoot/contact.html">




                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="feather feather-help-circle">
                    <circle cx="12" cy="12" r="10"></circle>
                    <path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"></path>
                    <line x1="12" y1="17" x2="12.01" y2="17"></line>
                </svg>
                <span class="ms-1">Help Center</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" aria-current="page" href="@@webRoot/index.html">

                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="feather feather-log-out">
                    <path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path>
                    <polyline points="16 17 21 12 16 7"></polyline>
                    <line x1="21" y1="12" x2="9" y2="12"></line>
                </svg>
                <span class="ms-1">Log Out</span>
            </a>
        </li>

    </ul>
</div>